/* Universal Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #fff;
}
.main{
    margin: 0px 10%;
}

/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 400px;
    background-color: #fff;
    z-index: 2;
    overflow: visible;
}

.logo__container {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    padding-top: 64px;
    width: 400px;
    height: auto;
}

.pattern__left,
.pattern__right {
    position: absolute;
    top: 50%;
    width: 30%;
    background-repeat: no-repeat;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    height: 100%;
}

.pattern__left {
    top: 0;
    left: 0;
    z-index: 1;
}

.pattern__right {
    top: 0;
    right: 0;
    z-index: 1;
}

.report__title {
    font-size: 48px;
    font-weight: bold;
    margin-top: 20px;
    z-index: 2;
}

.date__container {
    display: inline;
    gap: 8px;
    align-items: center;
    background-color: #eee;
    padding: 10px 15px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: #555;
}

.icon {
    margin-right: 8px;
    font-size: 18px;
}


/* Info Containers */
.info__container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 32px;
}

.pacing__box,
.partner__box {
    z-index: 2;
    margin-top: 64px;
    background: #fff;
    border-radius: 12px;
    padding: 15px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    z-index: 2;
}

.emoji__rating {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    z-index: 2;
}

.emoji {
    z-index: 2;
    font-size: 90px;
    opacity: 0.3;
}

.emoji.selected {
    z-index: 2;
    opacity: 1;

}

.campaign__text,
.partner__text {
    z-index: 2;
    font-size: 32px;
}

.partner__logo {
    z-index: 2;
    width: auto;
    height: auto;
    margin-top: 10px;
}

/* Metrics Section */
.metrics__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 32px;
}

.metric__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 100%;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    text-align: center;
}

.metric__icon {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.metric__value {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.2rem;
}

.metric__label {
    font-size: 1.2rem;
    font-weight: bold;
    color: #6c757d;
}

.card__impressions {
    background-color: #eaf4ff;
}
.card__conversions {
    background-color: #f4f2ff;
}
.card__clicks {
    background-color: #f4ffe5;
}
.card__ctr {
    background-color: #fff8e5;
}
.card__reach {
    background-color: #ffe5e8;
}
.card__revenue {
    background-color: #fff4e5;
}


/* Bar Charts */
.barcharts__container {
    margin: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 40px;
}

.chart {
    flex: 1;
    min-width: 300px;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 20px;
    width: 45%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h3 {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
}

.bar__chart {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 5px 10px;
    align-items: center;
}

.bar {
    height: 40px;
    background-color: #609899;
    border-radius: 4px;
    transition: width 0.3s ease;
}

.bar__label,
.bar__value {
    font-size: 20px;
    color: #333;
    text-align: right;
}


/* Pie Chart Section */
.chart__container {
    margin: 80px;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    gap: 20px;
}
.info {
    margin: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.info__item {
    display: flex;
    align-items: center;
    gap: 15px;
}

.icon__bar__chart {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.details .percentage {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.details .device-type {
    font-size: 14px;
    color: #6c757d;
    margin: 0;
}



/* Multiple Screen Sizes Formats */
@media (max-width: 1368px){
    /* Pie Chart Adjustments */
    .info {
        flex-wrap: wrap;
        flex-direction: column;
    } 
    .barcharts__container {
        /* flex-wrap: wrap; */
        flex-direction: column;
        align-items: center;
        margin: 16px;
    }
    /* Bar Chart Adjustments */
    .bar{
        height: 30px;
    }    
}
@media (max-width: 1024px) {

    .pattern__left,
    .pattern__right {
        width: 25%;
        opacity: .6;
    }

    .info__container {
        flex-direction: column;
        padding: 0px;
    }

    .metrics__container {
        flex-wrap: wrap;
    }

    .barcharts__container {
        flex-wrap: wrap;
    }
    .chart__container {
        flex-direction: column;
    }
    
    .info{
        flex-direction: row;
    }

    .metric__icon {
        font-size: 1.5rem;
        margin-bottom: 0.3rem;
    }
    .metric__value {
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 0.1rem;
    }
    .metric__label {
        font-size: 1rem;
        font-weight: bold;
        color: #6c757d;
    }
    .metric__card{
        height: 120px;
        width: 20%;
    }

}

@media (max-width: 768px) {

    .pattern__left,
    .pattern__right {
        width: 20%;
        opacity: .3;
    }

}

@media (max-width: 600px) {
    .pattern__left,
    .pattern__right {
        width: 15%;
        opacity: 0.3;
    }

}

@media (max-width: 480px) {
    /* Header Adjustments */
    .pattern__right,
    .pattern__left {
        display: none;
    }
    .logo{
        width: 250px;
        padding-top: 0px;
    }
    .report__title{
        font-size: 24px;
    }
    .date__container{
        font-size: 20px;
    }
    /* Campain Pacing/Partner Adjustments */
    .campaign__text,
    .partner__text{
        font-size: 16px;
    }
    .emoji, .emoji.selected{
        font-size: 30px;
    }
    .partner__logo{
    max-width: 80%;
    }
    .info__container,
    .pacing__box,
    .partner__box{
        margin-top: 0px;
    }

    /* Metrics Adjustments */
    .metric__icon {
        font-size: 1.5rem;
        margin-bottom: 0.3rem;
    }
    .metric__value {
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 0.1rem;
    }
    .metric__label {
        font-size: 1rem;
        font-weight: bold;
        color: #6c757d;
    }
    .metric__card{
        height: 120px;
        width: 32%;
    }

    /* Bar Charts Adjustments */
    .barcharts__container{
        margin: 8px;
    }
    h3{
        font-size: 16px
    }
    .bar__label,
    .bar__value {
        font-size: 12px;
    }
    .bar{
        height: 25px;
    }

    /* Pie Charts adjustments */
    .chart__container {
        flex-direction: column;
        margin: 16px;

    }
    .info{
        flex-direction: column;
    }

}